/* verticle align: center */
body{
    background: url("./src/images/background.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.description{
    /* vertical-align: middle; */
    text-align: center;
    font-family: Roboto;
    color: whitesmoke;
}

h1{
    font-size: 5rem;
}

p{
    font-size: 3rem;
}